.btn-main{
    font-size: 18px;
    background-color: #009688;
    color: white;
    border: none;
    border-radius: 4px;
}
.btn-main:hover{
    background-color: rgb(231, 231, 183);
    color: black;
    
}
